body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #F1F1F1;
    height: 77px;

    .header-wrapper {
        margin: 0 auto;
        width: 1280px;
        display: flex;
        align-items: center;

        .header__calls {
            display: flex;
            padding-left: 54px;
            padding-right: 70px;

            .header_calls_ul {
                margin: 0;
                padding: 0;
                padding-top: 7px;
                margin-right: 54px;
            }
        }

        .header__logo_img {
            margin-left: 159px;
            margin-right: 40px;
        }

        .header_line {
            height: 61px;
            padding-top: 7px;
            padding-left: 20px;
            padding-right: 0px;
        }

        .header_list {
            list-style: none;
            margin-bottom: 7px;
            padding: 0;
            margin-left: 0;
        }

        .header__location {
            display: flex;

            .header_location_ul {
                padding: 2px;
                margin-right: 83px;
            }

            .header__location_img {
                width: 44px;
                height: 42px;
                padding-top: 13px;
            }
        }

        .header__contact {
            display: flex;
            margin-left: 66px;
        }
    }
}

.container {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    align-items: center;

    .main-menu {
        border-bottom: 1px solid #E12E2E;
        margin: 0 auto;
        margin-top: 27px;
    }

    .main-menu ul {
        display: flex;
    }

    .main-menu__nav-item a {
        color: black;
        font-size: 16px;
        text-decoration: none;
    }

    .main-menu__nav-item {
        list-style-type: none;
        padding-right: 70px;
    }
}

.container {
    margin: 0 auto;
    width: 1280px;
    display: flex;
    align-items: center;

    .services_block {
        margin-right: 83px;
        font-size: 13px;
        display: flex;
        margin-left: 230px;

        .services__block_elem {
            text-align: center;
            width: 110px;
            height: 59px;
            border-radius: 10px;
            border: 1px solid #E12E2E;
            margin-left: 83px;
            margin-top: 23px;

            p {
                margin: 0;
                margin-top: 10px;
                padding: 0;
            }
        }
    }
}

.container {
    .custom-made-furniture {
        margin-top: 101px;
        margin-left: 160px;
        font-size: 24px;
        display: flex;

        .custom-made-furniture_one {
            color: #F05310;
            font-weight: 700;
            margin-left: 10px;
        }

        p.custom-made-furniture_two {
            font-weight: 700;
            margin-left: 20px;
        }

        p.custom-made-furniture_three {
            font-weight: 700;
            text-shadow: 1px 1px 4px rgb(71, 71, 71);
        }

        .custom-made-furniture__square {
            background-color: #F05310;
            color: #fff;
            width: 110px;
            height: 110px;
            border-radius: 80px;
            margin-left: 10px;
            text-align: center;

            p {
                font-size: 24px;
                margin: 0;
                padding-top: 25px;
            }

            span {
                font-size: 15px;
                padding-top: 5px;
            }
        }

        .custom-made-furniture__advantages {
            font-weight: 700;
            font-size: 14px;
            margin-left: 82px;
            margin-top: 10px;
        }
    }
}

.container {
    margin: 0 auto;
    align-items: center;

    .partners {
        text-align: center;
        background-image: url(/src/img/bg_partners\ 1.png);
        width: 100%;

        p.partners_text {
            font-size: 32px;
            font-weight: 700;
            text-shadow: 1px 1px 4px rgb(71, 71, 71);
        }

        .partners_blocks {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .partners_block {
                p {
                    font-size: 32px;
                    font-weight: 700;
                }

                li {
                    font-size: 36px;
                    font-weight: 400;
                    list-style-type: none;
                }
            }
        }
    }
}