- var docName = "Furniture"

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/style.css")
        title= docName

    body         
        include modules/header
        .container
            .main-menu 
                ul 
                    li.main-menu__nav-item  
                        a(href="") Каталог 
                    li.main-menu__nav-item  
                        a(href="")  Доставка и заказ
                    li.main-menu__nav-item    
                        a(href="")  Контакты
                    li.main-menu__nav-item    
                        a(href="")  Уход за мебелью
                    li.main-menu__nav-item    
                        a(href="")  Вакансии
        .container        
            section.services
                .services_block
                    .services__block_elem 
                        p Бесплатная и быстрая доставка
                    .services__block_elem 
                        p Бесплатный подъем и сборка мебели
                    .services__block_elem 
                        p Бесплатный вывоз мусора
                    .services__block_elem  
                        p Бесплатное обслуживание по гарантии
        .container
            .custom-made-furniture
                .custom-made-furniture_text
                    p.custom-made-furniture_one ИНДИВИДУАЛЬНАЯ МЕБЕЛЬ
                    p.custom-made-furniture_two ПО ВАШИМ РАЗМЕРАМ
                    p.custom-made-furniture_three С БЕСПЛАТНЫМ ДИЗАЙН-ПРОЕКТОМ
                .custom-made-furniture__square 
                    p 10%
                    span Предоплата
                .custom-made-furniture__advantages
                    p Бесплатная доставка по Москве и МО
                    p Гарантия 2 года на мебель
                    p Бесплатный выезд дизайнера-замерщика
    .container 
        .partners
            p.partners_text НАШИ ПАРТНЁРЫ            
                .partners_blocks
                    .partners_block
                        p Склады:
                        ul 
                            li.partners_block_one Каскад
                            li.partners_block_one Colpa
                            li.partners_block_one Logicom
                    .partners_block
                        p Партнёры:
                        ul 
                            li.partners_block_one Hoff
                            li.partners_block_one Леруа Мерлен
                            li.partners_block_one Лазурит
                            